<h1>Home Page</h1>
<p>Aqui veremos el inicio de la pagina web de SymTrip(app) donde explicara el funcionamiento (video animado) botones los cuales llevaran a: <br>
<ul>Inicio</ul>
<ul>Informacion</ul>
<ul>Registro</ul>
<ul>Ayuda</ul>
<ul>Legal</ul></u></p>