<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>SymTrip, viaja "gratis"</title>
</head>
<body>
	<header>
		<div class="wrapper">
			<div class="logo">SYMTRIP</div>
			
			<nav>
			<a href="#">Cómo funciona</a>
			<a href="#">Quienes somos</a>
			<a href="#">Ayuda</a>
			<a href="#">Contacto</a>
			</nav>
		</div>
	</header>

</body>
</html>

